@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: $secondary-color;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 1rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;

  h1 {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.menu-icon-mobile {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  background-color: $secondary-color;
  width: 250px;
  padding: 1rem 0;
  transition: transform 0.3s ease;
  border-right: 1px solid rgb(240, 240, 240);

  nav ul {
    list-style: none;

    .active {
      background-color: $primary-light;
      border-right: 2px solid $primary-color;

      a {
        color: $primary-color;
      }
    }

    li {

      a {
        text-decoration: none;
        color: $grey-color;
        font-weight: 400;
        font-size: 0.875rem;
        display: block;
        padding: 0.68rem 1.5rem;
        border-radius: 1px;
        transition: all 0.3s ease;

        &:hover {
          background-color: $primary-light;
          color: $primary-color;
        }
      }
    }
  }
}

.content-area {
  flex: 1;
  padding: 2.5rem;
  background-color: rgb(250, 250, 251);
  height: 82vh;
  overflow-x: overlay;

  .content {
    max-width: 800px;

    h1 {
      margin-bottom: 1rem;
    }

    .content-box {
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid rgb(230, 235, 241);
    }
  }
}

.footer {
  background-color: #082e641a;
  border-top: 1px solid #5c6bc042;
  text-align: center;
  padding: 1rem;
  position: sticky;
  bottom: 0;
}

// --- Responsive styles ---
@media (max-width: 992px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 60px;
    transform: translateX(-100%);
    z-index: 90;

    &.open {
      transform: translateX(0);
    }
  }

  .content-area {
    margin-left: 0;
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .content {
    padding: 1rem;
  }
}